body,
html {
    width: 100%;
    height: 100%;
}

/*Begin NAV*/

#welcome{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 3em;
  color: #8F50CF;
  font-weight: 400;
  padding-left:1em;
  line-height: 20px;
}

.nav.navbar-nav.navbar-right{
  padding-right:2em;
}

.navbar-default {
 background-color: black;
  color: white;
  -webkit-box-shadow: -1px 9px 18px 3px rgba(105,105,105,0.84);
  -moz-box-shadow: -1px 9px 18px 3px rgba(105,105,105,0.84);
  box-shadow: -1px 9px 18px 3px rgba(105,105,105,0.84);
}


.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #000;
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffb2;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000;
}
.navbar-default .nav li a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  color:  white;
  font-size: 1em;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #7613dc;
  outline: none;
  font-size: 2em;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color:  white;
  background-color: #7613dc;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #7613dc;
  background-color: white;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: black;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

/*End NAV*/

#contact-info{
  padding-top: 200px;
}

#contact-intro{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3em;
  padding:1em;
}

#how-to-contact{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-align: center;
  padding:1em;
}

#resume{
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  text-align: center;
  padding:1em;
}

h3 a{
  color: #7613dc;
}
/*Begin FOOTER*/

footer {
  padding: 25px 0;
  text-align: center;
  background-color: #ffffb2;
}
footer span.copyright {
  line-height: 40px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  text-transform: none;
  font-size: small;
  font-weight: 400;
}

ul.social-buttons {
  margin-bottom: 0;
  margin-top: 10px;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  padding-top: 15px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #7613dc;
}

/*END FOOTER*/

@media (max-width: 768px) {
  #welcome{
    font-size: 4em;
  }

  #contact-info{
    padding-top: 50px;
  }

  #contact-intro{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2em;
    padding:1em;
  }

  #how-to-contact{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding:1em;
  }

  #resume{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    text-align: center;
    padding:2em;
  
   }

   #welcome{
  font-size: 2em;
  }

  .navbar-default.after-head .nav li a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  color:black;
  letter-spacing: 1px;
  font-size: 1em;
  }

    .navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  font-size: 1em;
}

}