body,
html {
    width: 100%;
    height: 100%;
}

/*Begin NAV*/

#welcome{
  font-family: 'Amatic SC', cursive;
  font-size: 6em;
  color: #7613dc;
  font-weight: 400;
}

.navbar-default {
 background-color: black;
  color: white;
  -webkit-box-shadow: -1px 9px 18px 3px rgba(105,105,105,0.84);
  -moz-box-shadow: -1px 9px 18px 3px rgba(105,105,105,0.84);
  box-shadow: -1px 9px 18px 3px rgba(105,105,105,0.84);
}

.navbar-default .navbar-brand {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #fec503;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #fed136;
  border-color: #fed136;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fed136;
}
.navbar-default .nav li a {
  font-family: 'Patrick Hand SC', cursive;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  color:  white;
  font-size: 2em;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #7613dc;
  outline: none;
  font-size: 3em;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color:  white;
  background-color: #7613dc;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #7613dc;
  background-color: white;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: black;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  #welcome{
  font-size: 4em;
  }
}

/*End NAV*/

#individual-work, #collab-work, #other-work{
  text-align: center;
  padding: 10px;
  font-family: 'Abril Fatface', cursive;
  font-size: 4em;
}

#other-work-desc{
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  padding: 5px;
}

.indv-work-container{
  margin:auto;
}

#view-container-indv{
  padding-top: 100px;
}

#view-container{
  padding-top: 30px;
  padding-bottom: 20px;
}

.view.view-second{
  padding-right: 50px;
}

.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 5px solid #7613dc;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center

}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    height:200px;
    width: 300px;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    color: #7613dc;
    text-align: center;
    position: relative;
    font-size: 25px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 16px;
    position: relative;
    color: #7613dc;
    padding: 10px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-second img {  
  transition: all 0.2s ease-in;
}

.view-second .mask { 
  background-color: #ffffb2; 
  width: 450px;
  padding: 40px;
  height: 600px;
  opacity: 0.2;
  transform: translate(265px, 145px) rotate(45deg);
  transition: all 0.2s ease-in-out;
}
.view-second h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
  transition: all 0.2s ease-in-out;
}
.view-second p { 
  transform: translate(-200px, 200px);
  transition: all 0.2s ease-in-out;
}
.view-second a.info { 
    transform: translate(0px, 100px);
  transition: all 0.2s 0.1s ease-in-out;
} 

.view-second:hover .mask { 
  opacity:1; 
  transform: translate(-80px, -125px) rotate(45deg);
}               
.view-second:hover h2 { 
  transform: translate(0px,0px);
  transition-delay: 0.3s; 
}
.view-second:hover p { 
    transform: translate(0px,0px); 
  transition-delay: 0.4s;
}
.view-second:hover a.info { 
  transform: translate(0px,0px); 
  transition-delay: 0.5s;
}


/*Begin FOOTER*/

footer {
  padding: 25px 0;
  text-align: center;
  background-color: #ffffb2;
}
footer span.copyright {
  line-height: 40px;
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  text-transform: none;
  font-size: x-large;
  font-weight: 400;
}

ul.social-buttons {
  margin-bottom: 0;
  margin-top: 10px;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  padding-top: 15px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #7613dc;
}

/*END FOOTER*/

