#header{
	text-align: center;
	font-size: x-large;
	font-family: 'Rock Salt', cursive;
	color: #663300;
}

span#header{
	font-size: 120%;
	font-family: 'Playfair Display SC', serif;
	color: #FF33CC;
}

#nav{
	font-family: 'Rock Salt', cursive;
	font-size:medium;
	color:#000000;
}

ul{
	text-align: center;
	margin: 0;
	padding: 0;
}

li{
	display: inline;
	margin: 4em;
	
}

a:link{
	text-decoration: none;
	color: #FF33CC;
}

a:visited{
	text-decoration: none;
	color:#FF33CC;
}

a:hover{
	text-decoration: none;
	color:#00CC00;
}


#article{
	text-align: center;
	display: inline-block;
	margin-right: 300px;
	margin-left: 300px;
	font-size: large;
	font-family: 'Titillium Web', sans-serif;
	color:#663300;
}

#social{
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: 'Rock Salt', cursive;
	font-size:large;
}


