img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}


p{
	text-align: center;
	font-size: 3em;
	font-family: 'Rock Salt', cursive;
	color: #663300;
}

a:link{
	text-decoration: none;
	color: #FF33CC;
}

a:visited{
	text-decoration: none;
	color:#FF33CC;
}

a:hover{
	text-decoration: none;
	color:#00CC00;
}